NODE_ENV=development
PORT=3001
APP_NAME=loans-back

JWT_SECRET=
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=7d

JWT_SIGNATURE_SECRET=
JWT_SIGNATURE_EXPIRES_IN=5m

DATABASE_URL=

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

RESET_TOKEN_TTL=900
